body{
   font-family: arial;
  padding-left: auto;
background-color: rgb(255, 255, 255);
}
.middle-section{
    position: relative;
}
.drop-menu{
    width: 55px;
   opacity: 0;
   cursor: pointer;
}

 .tooltip{
    position: absolute;
    color: grey;
    font-size: 14px;
    line-height: 25px;
    left: -10px;
   
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 10px;
  padding-right: 0;
  opacity: 0;
  
}
.drop-menu:active .tooltip {
    opacity: 1;
}
.fun1{
 display: flex;

}
.fun2{
    display: flex;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   height: 70px;
   align-items: center;
 width: 80%;
 margin-left: 110px;
    z-index: 100;
   
}
.left-section{
    display: flex;
    flex-direction: row;
 
   
}
.functions{
    margin-left: 50px;
    display: flex;
    justify-content: center;
   


}
.features-container{
    position: relative;
    cursor: pointer;
    
}
.features-container .position-icons{
position: absolute;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
opacity:0 ;
transition: opacity 0.5s;
right: 10px;
top: 30px;
padding: 10px 10px;
border-radius: 10px;
background-color: white;
pointer-events: none;
transition: opacity 0.7s;
line-height: 15px;
}
.feature-icon{
    display: flex;
margin-top: 10px;

}
.company-container{
    position: relative;
    cursor: pointer;
}
.company-container .position-icons2{
    position: absolute;
    transition: opacity 0.7s;
    top: 30px;
    right: 22px;
    color: gray;
    font-size: 14px;
    line-height: 27px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
 pointer-events: none;
    border-radius: 10px;
    background-color: white;
    opacity: 0;
   
}

  .company-container:hover .position-icons2{
  opacity: 1;
  }

.features-container:hover .position-icons{
    opacity:1 ;
   
}
.features-container:hover .features{
    color: black;
}
.company-container:hover .company{
    color: black;
}
.contant{
    margin-left: 10px;
}
span{
    margin-right: 40px;
    font-size: 14px;
    color: gray;
    
}
.company{
   
   
   
}
.about{
    transition:  color 0.6s ;
}
.about:hover{
   color: black;
   cursor: pointer;
}
.carrers{
  
}
.login{
   cursor: pointer;
   margin-right: 0;
   margin-right: 15px;
}
.login:hover{
    color: black;
  
}
.register{
    color: grey;
    background-color: white;
    border: 2px grey solid;
    padding: 7px 14px;
    border-radius: 10px;
    margin-left: 18px;
    cursor: pointer;
    transition:  color 0.6s ;
    margin-right: 0;
    transition: border 0.6s;
  
}
.register:hover{
    color: black;
    border-color: black;
  
}


.full-container{
    box-sizing: border-box;
   display: grid;
   grid-template-columns: 40% 33%;
   justify-content: center;
align-items: end;
padding-top: 50px;
 
}
@media(max-width:800px){
 .full-container{
display: grid;
grid-template-columns: 1fr;

 }
 .right-big-img{
     grid-row-start: 1;
    display: grid;
    justify-content: center;
 }
.info{
    display: grid;
    justify-content: center;
    text-align: center;
   
}
.drop-menu{
    opacity: 1;
  
}
}

@media(max-width:800px){
.header{
    margin-left: 0;
    margin-left: 30px;
  
}

  .functions{
      opacity: 0;
  }
  .right-section{
      opacity: 0;
  }
    h1{
       font-size: 37px;
       margin-bottom: 0;
   }
.para2{
    width: 300px;
    text-align: center;
    margin-left: 50px;
}
}
.big-img{
 height: 550px;

}
.info{
  
  
}
.first-para{
    font-size: 34px;
    width: 410px;
    line-height: 65px;
    margin-bottom: 20pxx;
  }
  .second-para{
      width: 370px;
     color: gray;
     line-height: 20px;
    
  }
  .bottom-button{
      background-color: black;
      color: white;
      width: 140px;
      height: 50px;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      font-size: 16px;
      margin-top: 40px;
      margin-bottom: 100px;
      cursor: pointer;
      transition:  color 0.6s ;
      transition: border 0.6s;
      transition:background-color 0.6s ;
  }
  .bottom-button:hover{
background-color: white;
color: black;
border: 2px black solid;
  }
  .brand-logos{
     
  }
  .brand-logos{
    word-spacing: 25px;
  
    

  }
.logo1{
   width: 90px;
   
}
.logo2{
    width: 60px;


}
.logo3{
    width: 80px;
}
.logo4{
    width: 75px;
}
footer{
   text-align: center;
}